*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1b1b1b;
    color: #fff;
}
.input-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.input-name-scale{
    transition: 1s;
    scale: 0;
}
.input-name-display{
    display: none;
}
input{
    padding: 2px;
    margin-left: 4px;
    font-size: 50px;
    border: none;
    color: #b1b1b1;
}
input[type="text"], textarea {
    background-color : transparent; 
}
textarea:focus, input:focus{
    outline: none;
}
button{
    width: 100px;
    height: 50px;
    background-color: #b1b1b152;
    margin-left: 4px;
    cursor: pointer;
    border: none;
    color: #b1b1b1;
}
button:hover{
    background-color: #b1b1b122;
    color: #b1b1b1;
}
.hello{
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}